<div class="blogpost-container">
   <a href="/post/{{id}}">
     <div class="blogpost-header">
        <h1 class="blogpost-title">{{title}}</h1>
        <h2 class="blogpost-info">Posted by {{creator_name}} on {{date_created}}</h2>
    </div>
   </a>
    <p class="blogpost-content">{{content}}</p>
    {{!-- <button id="commentButton">Add Comment</button> --}}
</div>
